* {
    font-family: 'Rubik', sans-serif;
}

a, nav li, .logo {
    cursor: pointer;
    cursor: hand;
}


/*DIVs*/

body{
    background-color: #252525;
    -webkit-font-smoothing:
	antialiased;
	text-rendering:
	optimizeLegibility;
}

#works{
    background-color: #ffffff;
}


.sidebar {
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#intro-pic {
    margin: auto;
}


/*previous and next project*/

.jump {
    position: flex;
    padding-right: 10%;
    margin-bottom: 50px;
    margin-top: 30px;
}

.next{
    float: right;
    margin-right: 10%;
    display: inline-block;
}

.previous{
    float: left;
    display: inline-block;
}



/* animation*/
.nav-up {
  top: -70px; 
}

.hidden { 
    display: none;
}



/*progress bar*/
progress {
    bottom: -6px;
    right: -5px;
    padding: 0px;
    position: absolute;
    
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transform-origin: 100% 0%;
    width: 100vh;
    height: 6px;
    background-color: #E3E3E3 !important;
    color: #F15A95 !important;
    border: none;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: #F15A95;
}

progress::-moz-progress-bar {
  background-color: #F15A95;
}


/*Spaces*/

#bottom-space {
    padding-bottom: 100px;
}

.space500px {
    padding-bottom: 700px;
}

.space15px {
    padding-bottom: 15px;
}

.space30px {
    padding-bottom: 30px;
}

.space5px{
    padding-bottom: 5px;
}

/*Media Queries*/


/*Layout for big desktop >1922px*/
@media (min-width: 1922px) {
    
    #home-space {
        height: 498px;
        display: block;
    }
    
    #profile {
        width: 20%;
    }
    
    #profile p {
        margin-top: 25px;
        width: 80%;
    }
    
    .project-img-long {
        max-width: 158%;
/*        padding-right: 10%;*/
    }
    
    .project-img-med {
        width: 626px;
    }
    
    .project-vid-long {
        width: 100vw;
        float: right;
        padding-left: 100px;
        padding-right: 4%;
    }
    
    .sidebar {
        padding-left: 7%;
        padding-right: 50px;
    }
    
    .project {
        padding: 22px 100px 42px 200px;   
    }
    
    footer{
    padding-left: 200px; 
    }
    
}


/*Layouts for 1024-1921*/
@media (min-width: 1024px) and (max-width:1921px) {

    #home-space {
        height: 498px;
        display: block;
    }
    
    #profile p {
        margin-top: 25px;
        width: 73%;
    }

        
    #profile {
        top: 10%;
        display: block;
        position: fixed;
        max-width: 300px;
        width: 27%;
    }
    
    .sidebar {
        position: fixed;
        height: 100%;
        width: 30%;
        display: inline-block;
    }
    
    #works {
        left: 30%;
        position: relative;
        display: block;
        width: 70%;
    }
    
    nav {
        z-index: 3;
    }
    
    .project {
        padding: 22px 100px 42px 100px;   
    }

    
    #profile h2 {
        margin-top: 82px;
    }
    
    .project-img-med {
        width: 626px;
    }
    
    .project-img-long {
        max-width: 158%;
/*        padding-right: 10%;*/
    }
    
    
    .project-vid-long {
        width: 100vw;
        float: right;
        padding-left: 100px;
        padding-right: 4%;
    }
    
    footer{
    padding-left: 100px;
    }
}


/*Layout for desktop and above >1024*/
@media (min-width: 1024px) {
    #profile {
        top: 10%;
        display: block;
        position: fixed;
    }
    
    .sidebar {
        position: fixed;
        height: 100%;
        width: 30%;
        display: inline-block;
    }
    
    #works {
        left: 30%;
        position: relative;
        display: block;
        width: 70%;
    }
    
    nav {
        z-index: 3;
    }
    
    
    #profile h2 {
        margin-top: 82px;
    }
    
    .project-img-med {
        width: 90%;
    }
}


/*Illustrations*/

/*Layouts for big desktop >1400*/
@media (min-width: 1500px) {
    .illustration {
        display: none;
    }
    
    #home-space {
        display: none;
    }
}


/*Layouts for tablet to desktop 768 - 1400*/
@media (min-width: 768px) and (max-width:1500px) {
    #home-space {
        height: 498px;
        display: block;
    }
    
    #me {
        width: 358.39px;
        top: 140px;
        left: 241.906px;
/*        left: 27%;*/
    }
    
    #data {
        width: 95.55px;
        top: 140px;
        left: 134.4px;
    }
    
    #pingpong {
        width: 89.59px;
        top: 370px;
        left: 161.28px;
    }
    
    #code {
        width: 90.55px;
        top: 134px;
/*        left: 67%;*/
        left: 600.312px;
    }
    
    #world {
        width: 89.59px;
        top: 369px;
/*        left: 64.5%;*/
        left: 577.906px;
    }
    
    footer{
    padding-left: 100px;
    }
}

@media (max-width: 767px){
    .illustration {
        display: none;
    }
    
    #home-space {
        display: none;
    }
}


/*Layout for tablet or small desktop*/
@media (min-width: 480px) and (max-width:1023px) {
    #profile {
        display: block;
        position: relative;
        padding-left: 0px;
    }
    
    .sidebar {
        position: relative;
        width: 100%;
        display: inline-block;
        height: 100%;
        padding-left: 100px;
        padding-right: 50px;
    }
    
    #works {
        position: relative;
        display: block;
        width: 100%;
    }
    
    nav {
        z-index: 6;
    }   
    
    .project {
    padding: 22px 84px 42px 84px;   
    }
    
    footer {
    margin-left: 84px;
    }
    
    .project-sum{
        display: none;
    }
    
    
    #profile p {
        margin-top: 25px;
        max-width: 60%;
    }
    
    #profile h2 {
    margin-top: 120px;
    }
    
    progress {
    display: none;
    }
    
    .project-img-long {
    width: 100%;
    }
    
    .project-img-med {
        width: 626px;
    }
    
    .project-vid-long {
    width: 100vw;
    float: right;
    padding-left: 100px;
    }
    
    #intro-pic {
        display: none;
    }
    
}

@media (min-width:480px) and (max-width:1921px) {
    .sidebar {
        padding-left: 84px;
        padding-right: 50px;
    }
}


/*Typography and Layout for non-mobile*/

@media (min-width:480px) {
    
    .menu {
    font-size: 14px;
    margin: 0px 20px 0px 20px;
    letter-spacing: .7px;
    }   
    
    nav .logo {
    margin-top: 20px;
    margin-left: 84px;
    }
    
    
    #intro-content {
        width: 90%;
    }
    
    footer{
    margin-top: 60px;
    padding-bottom: 30px;
    }
    
    hr {
        margin-top: 60px;
        margin-bottom: 120px;
    }
    
    h1{
    font-size: 32px;
    line-height: 1.375;
    letter-spacing: .4px;
    margin-top: 30px;
    margin-bottom: 35px;
    max-width: 90%;
    }

    h3{
    font-size: 15px;
    letter-spacing: 1.3px;
    margin-top: 40px;
    }
    
    h2{
        font-size: 25px;
        letter-spacing: .7px;
        line-height: 1.4;
        max-width: 90%;
        color: #303030;
        font-weight: 500;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    
    h3.project-number {
        margin-bottom: -15px; 
    }
    

    p, li{
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: .83px;
    }

    #works p {
    margin: 15px 0px 15px 0px;
    max-width: 90%;
    }
    

    h4 {
    font-size: 13px;
    line-height: 1.39;
    letter-spacing: 0.7px;
    margin: 30px 0px 30px 0px;
    }
    
    .project h4 {
        margin-top: 15px;
        max-width: 90%;
/*        color: #959595;*/
    }

    
    .project-sum h4 {
        margin-bottom: 60px;
    }
    
/*
    .indent {
    transform: translateX(20px);
    }
*/


    .details {
    /*pink links*/
    font-size: 14px;
    margin: 25px 0px 25px 0px;
    letter-spacing: .62px;
    }
    
    
    /*images in non-mobile*/
    .logo-img {
        width: 22px;
        height: 23px;
    }  
    
    #profile-pic {
        height: 180px;
        display: block;
        margin: 100px auto 50px auto;   
    }

    .social {
        width: 25px;
        height: 25spx;
    }
    
    #social ul {
        /*social icons in non-mobile*/
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 0;
    }
    
    /*Project Images*/
    .ui {
        display: block;
        margin: 60px auto 0px auto;
        padding-top: 10px;
        height: 519px;
        padding-top: 10px;
    
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1); 
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1); 
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
    }
    
    .ui:hover{
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.015); 
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.015); 
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.015);
        transition: all 200ms ease-in;
    }
    
    .project-ui-div {
        display: block;
        width: 90%;
    }
    
    #my-pic {
        width: 500px;
    }
}


/*Layout and typography for mobile*/

@media (max-width: 480px) {
    .space500px {
    padding-bottom: 0px;
    }
    
    .illustration {
        display: none;
    }
    
    nav {
        z-index: 6;
    }  
    
    .menu {
        font-size: 12px;
        margin: 10px;
        letter-spacing: .7px;
    }   
    
    .dropdown-menu>li>a {
        font-size: 12px;
        letter-spacing: .7px;
    }
    
    
    nav .logo {
        margin-left: 8%;
        margin-top: 23px;
    }
    
    .sidebar {
        padding-left: 8%;
        padding-right: 8%;
    }
    
    .project-sum{
        display: none;
    }
    
    .project {
        padding: 20px 8% 20px 8%;   
    }
    
    footer {
        padding-left: 8%;
        margin-top: 30px;
        padding-bottom: 20px;
    }
    
    hr {
        margin-bottom: 60px;
    }
    
    h1{
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: .7px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    
    h2{
        font-size: 16px;
        letter-spacing: 1.3px;
        line-height: 1.19;
        max-width: 90%;
        color: #252525;
    }

    h3{
        font-size: 13px;
        letter-spacing: 1.3px;
        margin-top: 20px;
    }
    
    #profile h2 {
        margin-top: 80px;
    }

    p, li{
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: .75px;
        margin: 15px 0px 15px 0px;
    }


    h4 {
        /*project tags*/
        font-size: 10px;
        line-height: 1.4;
        letter-spacing: 0.7px;
        margin: 30px 0px 30px 0px;
        max-width: 80%;
    }


    .details {
        /*pink links*/
        font-size: 12px;
        margin: 25px 0px 25px 0px;
        letter-spacing: .62px;
    }
    
    
    /*images in mobile*/
    .logo-img {
        width: 15px;
        height: 16px;
    }   

    .social {
        width: 20px;
        height: 20px;
        z-index: 4;
    }
    
    #social ul {
    /*social icons in mobile*/
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0px;
        margin-left: 0px;
    }
    
    progress {
        display: none;
    }
    
    /*Project Images*/
    .ui {
        display: block;
        margin: 30px auto 0px auto;
        width: 50%;
    }
    
    .project-img-long {
        width: 100%;
    }
    
    .project-img-med {
        width: 100%;
    }
    
    .project-vid-long {
        width: 100vw;
        float: right;
        padding-left: 60px;
    }
    
    #profile-pic {
        width: 30%;
        display: block;
        margin: 30px auto 30px auto;
    }
    
    #my-pic {
        width: 85%;
    }
}



/*Nav Menu*/
nav{
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 5%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    width: 100%;
}


.border{
    border-bottom: #e1e1e1 solid thin;
}

.menu {
    font-weight: 400;
    color: #959595;
}

.menu.current {
    color: #303030;
}

nav ul {
    margin-top: 20px;
    margin-bottom: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li ul li {
    font-size: 14px;
}

a {
    text-decoration: none !important;
}


nav>ul>li>a:hover{
    text-decoration: none;
    border-bottom: 2px #303030 solid;
    text-decoration: none;
    color: #303030;
    padding-bottom: 1px;
}

.dropdown-menu {
    padding-top: 14px;
    margin-top: 12px;
}

.dropdown-menu>li>a {
    color: #959595;
}

.dropdown-menu>li>a:hover {
    background-color: #fff;
    color: #F15A95; 
}

.dropdown-menu>li>a.current-proj {
    color: #303030;
}

.dropdown-menu>li>a.current-proj:hover {
    color: #303030;
}




/*Sidebar*/

.sidebar.project-sidebar {
    background: #ffffff;
    z-index: 0;
    display: block;
    -moz-transition: all 0.2s ease-out;  /* FF4+ */
    -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
    transition: all 0.2s ease-out; 
}

.sidebar.profile-sidebar {
    background: #ffffff;
    -moz-box-shadow: 1px 1px 1px 1px #f6f6f6;
    -webkit-box-shadow:1px 1px 1px 1px #f6f6f6;
    z-index: 4;
}



/*Divider Lines*/
hr {
    border-top:1px dashed #DADADA;
    height: 0;
}



/*Footer*/

footer{
    font-size: 12px;
    font-weight: 300;
    color: #525252;
    letter-spacing: 0.41px;
    position: relative;
}

/*Typography for All Screensizes*/

h1{
    color: #484848;
    font-weight: 500;
    z-index: 2;
}

h2 a {
    color: #252525;
}

h2 a:hover{
    color: #E3518A;
    text-decoration: none;
}



h3{
    font-weight: 500; 
    text-transform: uppercase;
    color: #E3518A;
    z-index: 2;
}

.project-details h3 {
    color: #E3518A;
}

h3.project-number {
    color: #252525;
}


p, li {
    font-weight: 400;
    color: #454545;
    z-index: 2;
}

li {
    margin-bottom: 10px;
}

ul {
    list-style-type: circle;
}

p b {
    font-weight: 500;
    color: #303030;
}

li b {
    font-weight: 500;
    color: #303030;
}

p a {
    color: #4689F2;
    font-weight: 400;
    border-bottom: 1px #bdbdbd dashed;
}

p a:hover {
    color: #3B99FC;
    text-decoration: none;
    border-color: #3B99FC;
}

p.intro-text {
    display: inline;
    font-weight: 400;
}

#intro p b{
    font-weight: 500;
}


h4 {
    /*project keywords*/
    font-weight: 400;
/*    color: #707070;*/
    color: #959595;
    z-index: 2;
}


h5 {
    /*project titles in each proj page*/
    color: #252525;
    z-index: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    margin-top: 104px;
    margin-bottom: -15px;
}

.secondary {
    color: #999;
}

a .details:visited { 
    color: #484848;
}


.details {
    /*pink links*/
    font-weight: 400;
    color: #E3518A;
    text-transform: uppercase;
    z-index: 2;
}

.details:hover {
    border-bottom: 2px #E3518A solid;
    text-decoration: none;
    color: #E7216F;
    padding-bottom: 1px;
}


ul {
    list-style-type: none;
}

.text-list {
    list-style-type: circle;
}

.material-icons {
/*google icons*/
    font-size: 20px;
    color: #78BAFF;
}

.inline {
    display: inline-block;
}

.em {
    font-size: 14px;
    margin-right: 5px;
}

#schools {
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
/*
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out; 
    -o-transition: .3s ease-in-out;
*/
}


/*
#schools:hover {
    -webkit-filter: grayscale(0%);  
    filter: grayscale(0%);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out; 
    -o-transition: .3s ease-in-out;
}
*/


/*Social Icons*/
#social ul li {
    display: inline;
    margin-right: 12px;
}


.social:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -webkit-transition: .2s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .2s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .2s ease-in-out;
} 

.social {
  filter: grayscale(100%) opacity(70%);
  -webkit-filter: grayscale(100%) opacity(70%);
  -webkit-transition: .2s ease-in-out;
  -moz-filter: grayscale(100%) opacity(70%); 
  -moz-transition: .2s ease-in-out;
  -o-filter: grayscale(100%) opacity(70%); 
  -o-transition: .2s ease-in-out;
}


/*Images*/
.project-img-div-long {
    width: 100%;
    margin: 40px 0px 10px 0px;
    z-index: 5;
    overflow: visible;
    direction: rtl;
    background-color: #ffffff;
}

.project-img-div-med {
    width: 100%;
    margin: 40px 0px 10px 0px;
    z-index: 5;
    background-color: #ffffff;
}

.project-vid-div-long {
    width: 100vw;
    float: right;
}

.logo-img:hover {
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.2); 
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.2); 
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.2);
        transition: all 200ms ease-in;
}

.logo-img {
    -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1); 
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1); 
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
}


.project-vid-small {
    width: 410px;
    display: block;
    margin: auto;
    padding-right: 70px;
    overflow: hidden;
    
}

/*Home Illustrations*/

.illustration {
    position: absolute;
}

.illustration:hover {
        -webkit-transform: rotateZ(2.5deg);
        -ms-transform: rotateZ(2.5deg);
        transform: rotateZ(2.5deg);
}




/*

Typed and Blinking Cursor
.typed-cursor{
    opacity: 1;
    font-weight: 500;
    color: #E3518A;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
p.sentence1 {
    font-weight: 500;
    color: #E3518A;
}
*/






/*
.arrow-down {
    -webkit-transform: rotate(90deg);  Chrome, Safari, Opera 
    transform: rotate(90deg);
    display: inline-block;
}
*/






